<article class="event">
  <div class="title">
    {{ event.title }}
  </div>
  <div class="desc">
    {{ event.description }}
  </div>
  <div class="date">
    {{ event.date }}
  </div>
  <div class="location">
    {{ event.location }}
  </div>
</article>