{{#each events as |event|}}
<div class="event-card">
  <div class="event-content">
    <ul class="event-list">
      <li>
        {{> event-info event }}
      </li>
    </ul>
  </div>
</div>
{{/each}}
