<div class="hero">
    <div class="home-header">
        Happening Place
    </div>
    <div class="home-nav-btn">
        <button class="login"><a href="login">Login</a></button>
        <button class="upcoming"><a href="dashboard">Dashboard</a></button>
        <button class="my-events"><a href="my-events">My Events</a></button>
        <button class="new-event"><a href="new-event">New Event</a></button>
    </div>
</div>