<h1>
  <a href="/">Home</a>
</h1>
<div class="form-container">
  <div class="form">
    <form class="login-form">
      <div class="login">
        <h1>Log In</h1>
      </div>
      <div>
        <input type="text" id="email-login" placeholder="Email" />
      </div>
      <div>
        <input type="password" id="password-login" placeholder="Password" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>

    <form class="signup-form">
      <div class="signup">
        <h1>Sign Up</h1>
      </div>
      <div>
        <input type="text" id="email-signup" placeholder="Email" />
      </div>
      <div>
        <input type="password" id="password-signup" placeholder="Password" />
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>