<header>
  <h1 class="dashboard-header">
    <a href="/" class="dashboard-header">Happening Place</a>
  </h1>
</header>
{{#each events as |event|}}
<div class="event-card">
  <div class="event-content">
    <ul class="event-list">
      <li>
        {{> my-events-info event }}
      </li>
    </ul>
  </div>
</div>
{{/each}}

